{{ partial "header.html" . }}

<section id=content>
    <ul class=posts_listing>
      {{ range .Site.RegularPages.ByPublishDate.Reverse }}
        <div id="posts">
          <div id=date class="date-time-title">
              <time>{{ .Date.Format (.Site.Params.dateform | default "Jan 02 2006") }}</time>
          </div>
          <div class="date-time-title post">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </div>
      {{ end }}
    </ul>
  </section>
<div align=center><img src = '/cover.jpg' style="zoom:60%"/></div>

{{ partial "footer.html" . }}
<div align=center>
  <img src="" />
<a href="https://github.com/lkygithub">Copyright © 2019 Li Kangyu 
</a>
  <a href="http://beian.miit.gov.cn">丨京ICP备19057056号-1 
</a>

</div> 
